.hidden {
    width: 0;
}

.displayed {
    width: 500px;
}

nav {
    --button-size: 2.6rem;

    position: relative;
    z-index: 10;

    display: flex;
    flex-direction: column;
    justify-content: start;

    transition: .2s ease-in-out;
    background-color: rgb(51, 51, 51);

}

nav > button {
    width: var(--button-size);
    height: var(--button-size);

    border: none;
    background: none;

    cursor: pointer;

    transition: .2s ease-in-out;
    opacity: .7;
}

@media (prefers-color-scheme: dark) {
    .hidden > button {
        background-image: url(../../public/icons/svg/cog_dark.svg);
    }

    .displayed > button {
        background-image: url(../../public/icons/svg/cross_dark.svg);
    }
}

@media (prefers-color-scheme: light) {
    .hidden > button {
        background-image: url(../../public/icons/svg/cog_light.svg);
    }

    .displayed > button {
        background-image: url(../../public/icons/svg/cross_light.svg);
    }
}

nav > button:hover {
    opacity: 1;
}


#group-menu {
    width: 100%;
    height: 100%;

    padding-top: .5rem;

    white-space: nowrap;
    overflow: hidden;
}

#group-menu > li {
    padding: .5rem 2rem;
}

#group-menu > li > h3 {
    font-weight: 400;
    font-size: 1.2rem;
}

.module-dropdown {
    --module-width: 12rem;
    --module-height: 2rem;
    --module-font: 1rem;
    --module-amount: 300%;

    position: relative;
    width: var(--module-width);
    height: var(--module-height);
}

.module-dropdown * {
    font-size: var(--module-font);
    transition: .2s;
}

.module-dropdown button {
    width: 100%;
    height: var(--module-height);
    padding-left: 1rem;

    border: none;
    background-repeat: no-repeat;
    background-position: right;

    text-align: left;

    cursor: pointer;
}

.module-dropdown > ul {
    position: absolute;
    width: 100%;
    height: var(--module-amount);

    background-color: aliceblue;

    font-weight: 300;

    overflow: hidden;
}

.module-dropdown > ul > li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.module-dropdown > ul > li button {
    background: none;
}

@media (prefers-color-scheme: dark) {
    .module-dropdown > button {
        background-image: url(../../public/icons/svg/down_light.svg);
        background-color: rgb(197, 197, 197);
        color: black;
    }

    .module-dropdown > button:hover,
    .module-dropdown > ul > li:hover {
        background-color: rgb(223, 223, 223);
    }

    .module-dropdown > ul {
        background-color: rgb(211, 211, 211);
        color: black;
    }
}

@media (prefers-color-scheme: light) {
    .module-dropdown > button {
        background-image: url(../../public/icons/svg/down_dark.svg);
        background-color: rgb(201, 201, 201);
        color: white;
    }
}