@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;400;700&display=swap");

/* Clock Component */
#clockTime {
  text-align: left;
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
}

#clockDate {
  font-family: "Noto Sans", sans-serif;
  font-size: 32px;
}

/*------------*/

#greeting {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  font-size: 48px;
}

#weather {
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#weather:hover {
  cursor: pointer;
}

#weatherName {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
}

#weatherImg {
  width: 60px;
  height: 60px;
  vertical-align: bottom;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7.5px;
}

#weatherTemp {
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  font-size: 48px;
}

#weatherDescription {
  font-weight: bold;
  font-size: 30px;
}

#weatherDetail {
  font-size: inherit;
  font-family: "Noto Sans", sans-serif;
  
}

#backgroundIMG {
  opacity: 0.8;
  object-fit: cover;
}

#homeTxt {
  position: relative;
}
