/* General Pre-Styling to make code behave more as expected */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.25;
  width: 100vw;
  height: 100vh;
  display: flex;
}


ul, li, ol {
  /* Removed List Styling */
  list-style-type: none;
}

a {
  color: #3498db;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
