/* :root{

} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.25;
  width: 100vw;
  height: 100vh;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

ul, li, ol{
  list-style-type: none;
}